include:
  - component: $CI_SERVER_FQDN/flarenetwork/infra-public/ci-components/dependency-track@~latest
  - component: gitlab.com/flarenetwork/ci-components-private/ai-code-review@2
    inputs:
      use_cursor_cli: false
      rules_condition: $CI_MERGE_REQUEST_IID != null && $GITLAB_USER_NAME != "SealBot" && $CI_MERGE_REQUEST_EVENT_TYPE != "merge_train"
      rules_when: always

stages:
  - build
  - test
  - sbom
  - report

variables:
  GOPATH: /go
  GOLANG_VERSION: "1.25.1-trixie@sha256:61226c61f37cb86253c4ac486ef22c47f14bfddb8f60bb4805bfc165001be758"
  GOLINT_VERSION: "v2.6.1"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ${GOPATH}/pkg/mod
    - ${GOPATH}/bin

build:
  stage: build
  image: golang:${GOLANG_VERSION}
  needs: []
  script:
    - go build ./...

lint:
  stage: test
  needs: [build]
  image: golangci/golangci-lint:${GOLINT_VERSION}
  script:
    - "! gofmt -l . | grep -q ."
    - golangci-lint run --timeout 5m0s

test:
  stage: test
  image: golang:${GOLANG_VERSION}
  needs: [build]
  script:
    - go test -timeout 5m ./...
