# This file serves as a template for the configuration file. Copy it and edit the values as needed.
# Use --config parameter to specify the path to the configuration file.

# Database filled with data from the ftso (c-chain) indexer
[db]
host = "localhost"
port = 3306
database = "flare_ftso_indexer"
username = "indexeruser"
password = "P.a.s.s.W.O.R.D"
# log_queries = true

[logger]
level = "DEBUG"
file = "./logs/fsp.log"
console = true

[metrics]
# prometheus_address = "localhost:2112"

[chain]
eth_rpc_url = "http://127.0.0.1:8545/ext/C/rpc"
chain_id = 31337

[contract_addresses]
submission = "0x18b9306737eaf6e8fc8e737f488a1ae077b18053"
systems_manager = "0xa4bcdf64cdd5451b6ac3743b414124a6299b65ff"
voter_registry = "0xb00cc45b4a7d3e1fee684cfc4417998a1c183e6d"
relay = "0x5a0773ff307bf7c71a832dbb5312237fd3437f9f"

[identity]
address = "0xd7de703d9bbc4602242d0f3149e5ffcd30eb3adf" # identity account not private key

[credentials]
system_client_sender_private_key_file = "../credentials/sender-private-key.txt"                   # any account
signing_policy_private_key_file = "../credentials/policy-private-key.txt"                         # for signing and submitting votes
protocol_manager_submit_private_key_file = "../credentials/submit-private-key.txt"
protocol_manager_submit_signatures_private_key_file = "../credentials/signatures-private-key.txt"
[clients]
enabled_registration = true
enabled_protocol_voting = true
enabled_finalizer = true

[protocol.ftso1]
id = 1
api_url = "http://localhost:3100/"
type = 0

[submit1]
enabled = true
start_offset = "2s"
tx_submit_retries = 1
data_fetch_retries = 1
data_fetch_timeout = "5s"

[submit2]
enabled = true
start_offset = "5s"
tx_submit_retries = 1
data_fetch_retries = 1
data_fetch_timeout = "5s"

[submit_signatures]
enabled = true
start_offset = "12s"
tx_submit_retries = 1
data_fetch_retries = 1
data_fetch_timeout = "5s"
max_rounds = 3

[finalizer]
starting_reward_epoch = 0
starting_voting_round = 1005
start_offset = "500s"
grace_period_end_offset = "17s"

[gas_submit]
tx_type = 2
max_priority_fee_multiplier = 2
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei
base_fee_multiplier = 4

[gas_register]
tx_type = 2
max_priority_fee_multiplier = 2
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei
base_fee_multiplier = 4

[gas_relay]
tx_type = 2
max_priority_fee_multiplier = 2
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei
base_fee_multiplier = 4

[gas_systems_manager]
tx_type = 2
max_priority_fee_multiplier = 2
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei
base_fee_multiplier = 4
